### WebScrapping Using BeautifulSoup And Exporting to CSV file

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url="https://books.toscrape.com/catalogue/page-1.html"

In [4]:
data=requests.get(url).content

In [5]:
soup=BeautifulSoup(data,"html.parser")

In [6]:
ol=soup.find("ol")

In [7]:
articles=ol.find_all("article",class_="product_pod")

In [8]:
books=[]
for i in range(1,11):
    url=f"https://books.toscrape.com/catalogue/page-{i}.html"
    data=requests.get(url).content
    soup=BeautifulSoup(data,"html.parser")
    ol=soup.find("ol")
    articles=ol.find_all("article",class_="product_pod")


    for article in articles:
        image=article.find("img")
        title=image.attrs["alt"]
        star=article.find("p")
        star=star["class"][1]
        price=article.find("p",class_="price_color").text
        price=float(price[1:])
        status=article.find("p",class_="instock availability").text.replace("\n","")

        books.append([title,price,star,status])

In [9]:
df=pd.DataFrame(books, columns=["Title","Price","Star Rating","Status"])

In [10]:
df.to_csv("books.csv")

In [11]:
df=pd.read_csv("books.csv")

In [12]:
df.head()

,Unnamed: 0,Title,Price,Star Rating,Status
0,0,A Light in the Attic,51.77,Three,In stock
1,1,Tipping the Velvet,53.74,One,In stock
2,2,Soumission,50.10,One,In stock
3,3,Sharp Objects,47.82,Four,In stock
4,4,Sapiens: A Brief History of Humankind,54.23,Five,In stock